<% if @name %>
<h1>My name is <%= @name %></h1>
<% end %>
<!-- action attribute, submit and input -->
<form action="/named-cat">
  <input type="text" name="name">
  <input type="submit" value="Submit">
</form>
<div style='border: 5px dotted black'>
  <img src='http://bit.ly/1eze8aE'>
</div>
<body>
<p style="color:red;font-size:40px;">What The F***????</p>
</body>
